body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* Header Styling starts Here */

/* Header1 Styling */
.header1{
    background-color: rgba(208, 212, 220, 0.631);
    padding-top: 15px;
}


.header1 .fa-solid{
    font-size: 30px;
    color: orangered;
}

.header1 h2{
    color: rgb(93, 20, 69);
    font-size: 17px;
}

.header1 p{
    color: rgb(7, 38, 38);
    font-size: 14px;
}

@media only screen and (min-width: 992px) {
    .header1 .block1, .block2, .block3, .block4{
        justify-content: center;
    }

}

@media only screen and (max-width: 600px) {
    .header1 .block2, .block3, .block4{
        padding: 10px;
    }

    .header1 .block1{
        border: ;
        border-bottom: 1px solid black;
    }

}



/* Header2 Styling */

.header2 .fa-solid{
    font-size: 30px;
    color: #1cb217;
}

#subjectDropdown::after{
    margin-right: 40px;

}

.header2 .subject{
    background-color: rgba(208, 212, 220, 0.631);
    padding: 10px;

}

.header2 .subject:hover{
    background-color: rgba(166, 181, 213, 0.631);
}


.header2 .subject .fa-chevron-down{
    color: green;
    font-size: 13px;
    padding-left: 80px;
}

#navbarSupportedContent ul li a{
    color: rgb(93, 20, 69);
    font-weight: 500;
    
}

#navbarSupportedContent ul li a:hover{
    color: orangered;
    
}

.subject > ul > li{
    margin-top: 10px;
}

.subject-menu .web-design-label:focus{
    color: orangered;
    font-weight: 600;
    font-size: 15px;
}

.web-design-menu li{
    background-color: rgba(208, 212, 220, 0.631);


}

#navbarSupportedContent .btn{
    background-color: orangered;
    color: white;
    margin-right: 40px;
}

@media only screen and (max-width: 600px) {
    #navbarSupportedContent .btn{
        width: 30%;
        margin-left: 35px;
    }
}

@media only screen and (min-width: 992px) {
    .header2 .subject{
        margin-left: 30px;
    
    }

    .Header2-links ul .nav-link{
        margin-left: 20px;
    }

        

    .subject-menu[data-bs-popper] {
        margin-top: 0;
        margin-left: 40px;
    }

}

.header2{
    font-size: 18px;
}


/* About Page Background Image Styling starts */

.about-bg{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/page-header.jpg);
    background-size: 100% 100%;
    height: 400px;
}

.about-background-img h1{
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.about-background-img a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
}

.about-background-img .fa-angles-right{
    color: white;
    font-size: 20px;
}

.about-background-img{
    position: relative;
    top: 100px;
    left: 200px;
}

.about-background-img a:hover{
    color: orangered;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .about-background-img{
        position: relative;
        top: 80px;
        left: 30px;
    }

    .about-background-img h1{
        font-size: 30px;
    }
    
    .about-background-img a{
        font-size: 17px;
        margin: 8px;
    }

    .about-bg{
        height: 230px;
    }

}

/* About US Section Styling */

.about-us{
    margin-top: 110px;
}

.about{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.about-us .image-body img{
    width:400px;
    height: 400px;
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .about-us{
        margin-top: 50px;
        width: 100%;
    }

    .about-us .about{
        margin-left: 20px;

    }

    .about-us .image-body img{
    
        max-width: 280px;
        max-height: 300px;
    }

}

.about h5{
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about h1{
    color: rgba(23, 10, 34, 0.774);
    font-weight: 700;
}

.about p{
    color: rgba(145, 41, 57, 0.699);
    font-size: 17px;
}

.about .btn{
    background-color: orangered;
    color: white;
}

/* Subject Section Styling */


/* Sign-Up Styling */

.sign-up{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../images/registration.jpg);
    background-size: 100% 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up h5{
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.sign-up h1{
    color: white;
    font-weight: 700;
}

.sign-up p{
    color: white;
}

.sign-up .fa-check{
    color: goldenrod;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: goldenrod;
  padding: 40px 0px;
  margin: 0px 40px;

}

.sign-up form .signup-btn {
    background-color: rgba(75, 22, 120, 0.774);
    color: white;
    font-weight: 500;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    padding-top: 12px;
    text-decoration: none;
    text-align: center;
    align-content: center;
    margin-right: 9px;
  
  }

.sign-up .sign-up-col2 .form-label{
    margin: 0;
    margin-left: 40px;
    margin-right: 51px;
    margin-top: 20px;
    padding: 20px 0px;
    color: rgba(23, 10, 34, 0.774);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background-color: white;


}

.sign-up .sign-up-col2 {
    border-radius: 200px;
}

.sign-up .form-control{
    width: 70%;
    margin-left: 63px;
    height: 50px;
}

.sign-up .form-select{
    width: 70%;
    margin-left: 63px;
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .sign-up{
        background-size: 100% 100%;
        height: 570px;
        margin-top: 60px;
    }

    .sign-up .sign-up-col1{
        text-align: center;
    }
    
    .sign-up h5{
        font-size: 10px;
    }
    
    .sign-up h1{
        font-size: 20px;
    }
    
    .sign-up p{
        font-size: 10px;
    }
    
    
    .sign-up .sign-up-col2 .form-label{
        font-size: 12px;
        padding: 7px 0px;
        margin-right: 40px;
    
    }

    .sign-up .sign-up-col2 .form-bottom{
        padding: 10px 0px;
    
    }

    
    .sign-up .form-control{
    width: 100%;
    margin: 0;
    height: 35px;
}

    .sign-up .form-select{
    width: 100%;
    margin: 0;
    height: 35px;
}

.sign-up form .signup-btn {
    width: 67%;
    height: 35px;
    margin: 0;
    padding-top: 3px;
  
  }
    
   
}

/* Sign-Up Section Styling Ends Here  */


/* Testimonial stylings */

#testimonial{
    width:53%;
    margin-top: 50px;
}


#testimonial h3{
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#testimonial h4{
   color: #8c518c;
   font-size: 27px;
   font-weight: 400;
}

#testimonial h1{
    color: rgba(23, 10, 34, 0.774);
    font-weight: 700;
}

#testimonial p{
    font-size: 15px;
   color: #8c518c;

}

#testimonial .fa-quote-left {
    color: orangered;
    font-size: 60px;
}

/* TestiMonial Carousel  */

.testimonial-carousel{
    width: 25%;
    position: relative;
    left: 250px;
}

.test-caurosel .carousel-indicators button {
    width: 25px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid rgb(187, 138, 138);
    color: green;
    position: relative;
    top: 60px;

 }

 .test-caurosel .carousel-indicators [data-bs-target] {
    background-color: orangered;
 }


 .test-caurosel .carousel-indicators [data-bs-target]:focus{
    background-color: rgb(66, 72, 183);
    border: 3px solid rgb(172, 112, 112);
 }



 .test-caurosel img{
    height: 168px;
    border-radius: 50%;
 }

 .test-caurosel .carousel-caption{
    position: relative;
    top: -13px;
    margin-right: 40px;
 }

 .test-caurosel h5{
    color: #8c518c;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 5px;
 }

/* TestiMonial Carousel Ends */

@media only screen and (max-width: 600px) {

    #testimonial{
        width: 93%;
    }

    #testimonial .review h4{
        font-size: 20px;
    
    }

    #testimonial .fa-quote-left{
    color: orangered;
    font-size: 40px;
    }

    .testimonial-carousel{
        width: 30%;
        position: relative;
        left: 107px;
    }
    
    .test-caurosel .carousel-indicators button {
        height: 7px;
        position: relative;
        top: 60px;
    
     }
    
     .test-caurosel img{
        height: 96px;
        border-radius: 50%;
     }
    

}

/* Testimonial Styling Ends Here  */

/* Footer Stylings */

.footer{
    background-color: #784278;
    height: 575px;
    margin-top: 150px;
}

.footer .logo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1 .fa-solid{
    color: white;
    font-size: 15px;
}
.footer1 .fa-brands{
    color: white;
    font-size: 40px;
    padding: 5px;
}


.footer1 h4{
    color: goldenrod;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;

}

.footer1 p{
    color: white;
    font-size: 14px;
    display: inline;
    font-weight: 500;
}

.footer1 .news{
    margin-bottom: 3rem;
}

.footer1 .email-bottom{
    height: 60px;
}

.footer1 #footer-signup{
    height: 60px;
    width: 100px;
}

@media only screen and (max-width: 600px) {

    .footer{
        height: 1150px;
        margin-top: 100px;
    }

    .footer .courses{
        margin-top: 25px;
    }

    .footer1 .email-bottom{
        height: 30px;
    }
    
    .footer1 #footer-signup{
        height: 38px;
        width: 100px;
    }
}

/* Footer 2 styling */

.footer2{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.footer2 ul{
    display: flex;
}

.footer2 ul li{
    padding-left: 30px;
    list-style: none;
}

.news form .btn{
    background-color: green;
}

@media only screen and (max-width: 600px) {

    .footer2{
        font-size: 10px;
    }

    .footer2{
        position: relative;
        bottom: 66px;
    }
    
    #footer-signup{
        margin-top: 5px;
        margin-left: 140px;
    }
}

.Pageup-btn{
    color: white;
    font-size: 22px;
    background-color: green;
    padding: 15px;
    border-radius: 5px;
}

.Pageup-btn-link{
    position: absolute;
    left: 95%;

}

#sticky-btn{

    position: sticky;
    top: 520px;
}

@media only screen and (max-width: 600px) {
    .Pageup-btn{
        font-size: 10px;
        padding: 10px;
    }
    
    .Pageup-btn-link{
        position: absolute;
        left: 91%;
    }
    
    #sticky-btn{
    
        position: sticky;
        top: 550px;
    }
}


/* footer 2 styling ends  */






/* About Page Background Image Styling Ends */